<div class="page-header">
  <h2>My Files</h3>
</div>

{{#if user.accountHistory.uploadedFiles}}
 <ul>
	{{#each user.accountHistory.uploadedFiles as |uploadedFile|}}
		<li><a href="{{uploadedFile.s3Url}}">{{uploadedFile.fileName}}</a></li>
	{{/each}}
</ul>
{{else}}
<h4>You haven't uploaded any files</h2>
{{/if}}


<div class="page-header">
  <h2>Order History</h3>
</div>

{{#if user.accountHistory.orderedPrints}}

	{{#each user.accountHistory.orderedPrints as |orderedPrint|}}
		<ul>
		<li>Ordered On: {{orderedPrint.timeStamp}}</li>
		<li>Ordered From: {{orderedPrint.seller}}</li>
		<li>Item Ordered: {{orderedPrint.fileName}}</li>
		<li>Item Cost : {{orderedPrint.price}}</li>
		<li>Your Rating : {{orderedPrint.rating}}</li>
		</ul>
	{{/each}}
{{else}}
<h4>You haven't ordered anything yet.</h2>
{{/if}}